*{
    padding: 0;
    margin: 0;
}
hr{
    margin: 20px;
    size: 100px;
}

body{
    margin: 70px;
    font-size: 1.5rem;
    column-count: auto;
    grid-column: auto;
    color: white;
    line-height: 18px;
    background: linear-gradient(to right, rgb(109, 109, 109),rgb(173, 173, 173));
    text-align: center;
}
p{
    margin: 20px;
    text-align: center;
    font-size: 15px;
    font-family: 'Trebuchet MS';
    color: rgb(255, 255, 255);
}

p1{
    margin: 0px;
    text-align: center;
    font-size: 25px;
    font-family: 'Trebuchet MS';
    color: rgb(255, 255, 255);
    text-decoration: underline;
}


.grid-principal{
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 1fr 1fr ;
    justify-content: center;
    gap: 45px;
}
.grid-item{
    border: solid 4px white;
    border-radius: 0%;
    width: 130px;
    height: 95px;
}
nav{
    font-size: 16px;
    margin: 15px;
    color: rgb(255, 255, 255);
}
p3{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 22px;
  text-align: center;
  justify-content: center;
  display: flex;
  text-decoration: underline;  
}
.div-video{
    display: flex;
    justify-content: center;
}
.video-redacao{
    width: 320px;
    height: 160px;
}




