*{
    margin: 10;
    padding: 0;
}
.slide-fwd-center {
	-webkit-animation: slide-fwd-bottom 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-bottom 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-fwd-bottom {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
    }
    100% {
      -webkit-transform: translateZ(160px) translateY(100px);
              transform: translateZ(160px) translateY(100px);
    }
  }
  @keyframes slide-fwd-bottom {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
    }
    100% {
      -webkit-transform: translateZ(160px) translateY(100px);
              transform: translateZ(160px) translateY(100px);
    }
  }
  

body{
    background-color: gray;
    gap: 45px;
    color: white;
}

.grid-principal{
    display: grid;
    grid-template-columns: 158px 158px ;
    grid-template-rows: 1fr 1fr ;
    gap: 0px;
    justify-content: center;
    margin-top: 64px;
    text-align: center;
}

.grid-item{
    border: solid 4px white;
    border-radius: 0%;
    width: 100px;
    height: 60px;
    margin: 5px;
    padding: 5px;

}
p{
    font-size: 22px;
    text-align: center;
    line-height: 1.5rem;
    text-decoration: underline;
}

p1{
    font-size: 18px;
    text-decoration: underline;
    margin: 30px;
    text-align: center;
    line-height: 1.5rem;
}

img{
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  line-height: 1.5rem;
    
}
p3{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 22px;
  text-align: center;
  justify-content: center;
  display: flex;
  text-decoration: underline;  
}

body{
    perspective: 800px;
}

.grid-principal{
    perspective: 800px;
}

h1{
    font-size: 18px;
}

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg,#035AA6 3%,#F2EAD0 38%,#508BBF 68%, #F2EAD0 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}
